.container {
  background-image: url(1.jpg);
}
.img-1 {
  width: 50%;
}
.sercvices {
  height: 40%;
  width: 40%;
}
.img {
  height: 300px;
  width: 500px;
  margin-left: 15%;
}
.img-7 {
  height: 300px;
  width: 550px;
  margin-left: 10%;
}
